In [1]:
from app import simplePostgreData as sd

cntr = 'UK'
jsi = sd.selectProds(cntr)
jsi

,firstname,lastname,address,city,state,country,title,price,quantity,total
0,QZXFPN,WARSHQYISP,2635899973 Dell Way,TINSRLS,None,UK,ALABAMA GOODFELLAS,24.99,3,74.97
1,QZXFPN,WARSHQYISP,2635899973 Dell Way,TINSRLS,None,UK,AFRICAN WASH,27.99,2,55.98
2,QZXFPN,WARSHQYISP,2635899973 Dell Way,TINSRLS,None,UK,AFFAIR VIRGIN,29.99,2,59.98
3,QZXFPN,WARSHQYISP,2635899973 Dell Way,TINSRLS,None,UK,AIRPLANE BORROWERS,20.99,1,20.99
4,QZXFPN,WARSHQYISP,2635899973 Dell Way,TINSRLS,None,UK,ACE LEATHERNECKS,16.99,1,16.99
...,...,...,...,...,...,...,...,...,...,...
2950,TDPBNH,HYFQGVAFDH,2899662573 Dell Way,EAROQVT,None,UK,ALADDIN REMEMBER,28.99,3,86.97
2951,TDPBNH,HYFQGVAFDH,2899662573 Dell Way,EAROQVT,None,UK,ALADDIN CAMPUS,17.99,1,17.99
2952,TDPBNH,HYFQGVAFDH,2899662573 Dell Way,EAROQVT,None,UK,AIRPLANE ATLANTIS,25.99,3,77.97
2953,TDPBNH,HYFQGVAFDH,2899662573 Dell Way,EAROQVT,None,UK,ALADDIN FLASH,20.99,3,62.97
2954,TDPBNH,HYFQGVAFDH,2899662573 Dell Way,EAROQVT,None,UK,AIRPLANE PHANTOM,17.99,1,17.99